<div class="root">
  <div class="root__wrapper">
    <div class="root__wrapper__row1">

      <div class="root__wrapper__row1 block" style="background-color: green">
        {{logLevel[this.logLevel.Info]}}
      </div>
      <div class="root__wrapper__row1 block" style="background-color: yellow">
        {{logLevel[this.logLevel.Warn]}}
      </div>
      <div class="root__wrapper__row1 block" style="background-color: red">
        {{logLevel[this.logLevel.Error]}}
      </div>

    </div>
    <div class="root__wrapper__row2">
      <div class="root__wrapper__row2 block" style="background-color: pink">
        {{logLevel[this.logLevel.Verbose]}}
      </div>
    </div>
  </div>
</div>
